<div class="columns large-12">
	<table>
		<% @user.security_codes.in_groups_of(12, false).each_with_index do |codes, top_index| %>
		<tr>
			<% codes.each_with_index do |code, index| %>
				<td><%= (index + 1) + (top_index * 12) %>: <%= code %></td>
			<% end %>
		</tr>
		<% end %>
	</table>
	<hr>
</div>