<div class="row">
	<div class="columns large-12">
		<h2 class="text-center"><%= @user.fullname %></h2>
		
		<div class="columns large-6">
			<%= render 'user_vcard' %>
			<hr>
		</div>

		<% if current_user == @user %>
			<div class="columns large-6">
				<%= render 'transaction_search' %>			
				<% unless @transactions.count == 0 %>			
					<%= render 'transaction_history' %>
				<% else %>
					<h2 class="text-center">No verifications found</h2>
				<% end %>
			</div>
		<% end %>

	</div>
</div>
