<% content_for :title do %>Welcome to TF<% end %>
<div class="splash panel">
		<h3 class="text-center welcome">WELCOME TO TF</h3>
		<div class="authform">
			<%= render 'users/sessions/new' %>
	  </div>
</div>