<% content_for :title do %>Welcome to TF<% end %>

<div class="splash panel">
	<div class="columns large-12">
		<h3 class="text-center authform welcome">WELCOME TO TF</h3>
		
		<div class="authform columns large-4">
			<%= render 'users/sessions/new' %>
	  </div>

	  <div class="authform  columns large-4">	    
			<%= render 'vendors/sessions/new' %>
	  </div>
	</div>
	
</div>