<!-- <%# content_for :title do %>Welcome to WuDii<%# end %> -->
<div class="splash panel">
		<h3 class="text-center welcome">Your Place. Our Place.</h3>
		<div class="authform">
			<%= render 'users/sessions/new' %>
	  </div>
</div>
<%= render '/layouts/splash' %>