<tbody>
	<% @vendors.each do |v| %>
	<tr>
		<td><%= link_to v.fullname, v %></td>
		<td><%= v.email %></td>
		<td><%= link_to 'Verify', new_vendor_transaction_path(v), 
															class: 'button tiny success radius index_buttons' %></td>
	</tr>
	<% end %>
</tbody>