<tbody>
	<% @vendors.each do |v| %>
	<tr>
		<td>
			<% if v.image.present? %>
				<%= link_to v do %>
					<%= image_tag(v.image(:thumb)).html_safe %> &nbsp; <%= " #{ v.business }" %>
				<% end %>
			<% else %>
			<%= link_to v.business, v %>
			<% end %>
		</td>
	</tr>
	<% end %>
</tbody>