	<% @vendors.each do |v| %>
		<li>
			<%= link_to v do %>
				<% if v.image.present? %>
					<%= image_tag(v.image(:thumb)).html_safe %> <br> <%= v.business %>
				<% else %>
					<img src="http://placehold.it/75&amp;text=Image not available"> <br> <%= v.business %>
				<% end %>
			<% end %>
		</li>			
	<% end %>