<div class="row">
	<div class="columns large-12">
			<table>
			  <thead>
			    <tr>
			      <th width="400">Vendor</th>
			      <th>Email</th>
			      <th width="300">Phone</th>
			      <th>Buy</th>
			    </tr>
			  </thead>
			  <%= render 'vendors' %>
			</table>
	</div>
</div>