<div class="row">
	<div class="columns large-12">
		<% unless @vendors.empty? %>
			<table>
			  <thead>
			    <tr>
			      <th width="400">Vendor</th>
			    </tr>
			  </thead>
			  <%= render 'vendors' %>
			</table>
		<% else %>
			<h2 class="text-center">Vendor not found</h2>
		<% end %>
	</div>
</div>