<div class="row">
	<div class="columns large-12 text-center">
		<br><br>
		<h2>WuDii Vendors</h2>
		<br><br>
		<% unless @vendors.empty? %>
			<ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
			  <%= render 'vendors' %>
			</ul>
		<% else %>
			<h2>Vendor not found</h2>
		<% end %>
	</div>
</div>