<div class="row">
	<div class="columns large-12">
		<%= simple_form_for vendors_path, method: 'get' do %>
		  <%= text_field_tag :search, params[:search], placeholder: 'Search Vendors' %>
		  <%= submit_tag 'Search', name: nil %>
		<% end %>
			<table>
			  <thead>
			    <tr>
			      <th width="400">Vendor</th>
			      <th>Email</th>
			      <th></th>
			    </tr>
			  </thead>
			  <%= render 'vendors' %>
			</table>
	</div>
</div>