<div class="row">
	<div class="columns large-12 text-center">
		<h2><%= @vendor.fullname %></h2>
		<h3>Cost: <%= number_with_delimiter(%w(100 1000 10000 100000).sample, delimiter: ',') %> credits</h3>

		<h3>Enter code #</h3>
	
	</div>
</div>