<% @products.each do |product| %>
	<div class="row">
		<div class="large-4 small-6 columns">
			<% if product.image %>

			<% else %>
				<img src="http://placehold.it/1000x1000&amp;text=Thumbnail">
			<% end %>
			<div class="panel">
				<h5>Item Name</h5>
				<h6 class="subheader">$000.00</h6>
			</div>
		</div>
<% end %>