<div class="row">
	<div class="columns large-12">
		<h2 class="text-center"><%= @vendor.first_name %> Products</h2>

		<!-- <div class="large-12 columns"> -->
			<%= render 'products' %>
		<!-- </div> -->
	</div>
</div>