<%= f.file_field :image, class: 'columns small small-offset-4' %>
<h5 class="text-center">or</h5>
<%= f.input :image_remote_url, label: 'Enter an image URL', 
												wrapper_html: { class: 'text-center' } %>