<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
	    <% if user_signed_in? %>
	    	<%= link_to "TF Home - #{ current_user.fullname }", root_path %>
	    <% elsif vendor_signed_in? %>
	    	<%= link_to "TF Home - #{ current_vendor.fullname }", root_path %>
      <% else %>
        <%= link_to 'TF Home', root_path %>
	    <% end %>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>
  <div class="top-bar-section right">
    <ul>
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>